cargo-features = ["profile-rustflags"]

[package]
name = "wasi-virt"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["lib"]

[[bin]]
name = "wasi-virt"

[workspace]
exclude = ["testapp"]
members = [
  "virtual-adapter",
  "tests/components/do-everything",
  "tests/components/file-read",
  "tests/components/get-env",
  "tests/components/stdio",
]

[profile.release]
opt-level = "z"
lto = true
codegen-units = 1
panic = "abort"
rustflags = ["-Zoom=panic"]

[dependencies]
anyhow = "1"
clap = { version = "4", features = ["derive"] }
serde = { version = "1", features = ["derive"] }
toml = "0.7"
# TODO: use published version of walrus
walrus = { git = "https://github.com/rustwasm/walrus", rev = "db5d437b91e80c564f5e45204b8b165027d2a870" }
# TODO: switch to upstream once https://github.com/bytecodealliance/wasm-tools/pull/1261 is merged
wasm-compose = { git = "https://github.com/bytecodealliance/wasm-tools", rev="8b9ba68a18f1bac2f31c4889cc6c462cde3f13a0" }
wasm-metadata = "0.10.15"
wasm-opt = "0.114.1"
wit-component = "0.19.1"

[build-dependencies]
anyhow = "1"

[dev-dependencies]
anyhow = "1"
cap-std = "1.0.12"
heck = { version = "0.4" }
tokio = { version = "1.30.0", features = ["macros"] }
wasmtime = { version = "16.0.0", features = ["component-model"] }
wasmtime-wasi = "16.0.0"
wasmparser = "0.119.0"

[workspace.dependencies]
anyhow = "1"
# TODO: switch to upstream once https://github.com/bytecodealliance/wit-bindgen/pull/753 is merged
wit-bindgen = { git = "https://github.com/dicej/wit-bindgen", branch = "resource-take" }
