[package]
name = "virtual-adapter"
publish = false
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[features]
debug = []

[dependencies]
anyhow = { workspace = true }
wit-bindgen = { workspace = true, features = [ "macros" ] }
